{% extends 'euroapp/base.html' %}

{% block content %}
    <style>
        body, html {height: 100%;}
        .chaves-container {max-height: 70vh; overflow-y: auto;}
        h1 {font-size: 24px;text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8)}
        table td {font-size: 18px; padding-left: 16px;}
    </style>

    <h1>Todas as chaves já geradas:</h1>
    <div class="chaves-container">
        <TABLE align="center">
        {% for chave in chaves %}
            <TR >
                <TD>
                    <TABLE>
                        <TR style="text-align: left;"><TH>Data:</TH><TD> {{chave.data}}</TD></TR>
                        <TR style="text-align: left;"><TH>Números:</TH><TD> {{chave.numeros}}</TD></TR>
                        <TR style="text-align: left;"><TH>Estrelas:</TH><TD> {{chave.estrelas}}</TD></TR>
                        <TR><HR></TR>
                    </TABLE>
                </TD>
            </TR>
        {% empty %}
            <p>Nenhuma chave gerada ainda.</p>
        {% endfor %}
        </TABLE>
    </div>
    <hr>
    <div class="button-container">
        <a href="{% url 'euroapp:index' %}">Voltar à página inicial</a>
    </div>
    <br>
{% endblock %}